{% extends "picsearch/base.html" %}


{% load staticfiles %}


{% block title %}
	<title>Organizations | BJU Vintage 2014</title>
{% endblock %}

{% block body %}
	<body class="page-id-4">
{% endblock %}





{%block content %}

	<!--  Organizations code goes here -->
<div id="orgBg" class="vhfix">
</div>
<div id="orgWrapper">
	<div class="orgMenu center">
		<div class="menuDisplay norm">
		<ul class="orgList">


		{% for org_type in org_list %}
			{% if org_type.1 %}
		    	<li class="orgItems"><a href="#" data-menu="#data{{ forloop.counter }}" data-sub="#sub{{ forloop.counter }}">{{ org_type.0 }}<span class="orgArrows">»</span></a></li>
		    {% else %}
		    	<li class="orgItems"><a href="{% url 'organizations'%}{{ org_type.0.slug }}" >{{ org_type.0 }}<span class="orgArrows">»</span></a></li>
		    {% endif %}
		{% endfor %}
		</ul>
		</div>
	</div>
	<div class="backMenu">
		<a href="#"><img src="{% static 'img/vector/arrow.svg' %} "></a>
	</div>


		{% for org_type in org_list %}


		<div class="subMenu" id="data{{ forloop.counter }}">
		<div class="subDisplay" id="sub{{ forloop.counter }}">
		<h3>{{ org_type.0 }}</h3>
		<ul class="orgList">
		    {% for org in org_type.1 %}
		    	
			<li class="orgItems"><a href="{% url 'organizations'%}{{ org_type.0.slug }}/{{ org.slug }}/">{{ org }}<span class="orgArrows">»</span></a></li>
		    {% endfor %}
		    </ul>
		</div>
	</div>
		{% endfor %}

</div>
{% endblock %}