{% extends "timeline/base.html" %}

{% load staticfiles %}


{% block title %}
    <title>Administration | BJU Vintage 2014</title>
{% endblock %}

{% block body %}
    <body class="page-id-17">
{% endblock %}




{%block content %}





<div class="orgHeader">
    <div class="back">
        <a href="{% url 'organizations' %}"><img src="{% static 'img/vector/arrow.svg' %}"><span>Back</span></a>
    </div>
    <div class="orgName">
        <h1>Organizations</h1>
    </div>
</div>
<div class="orgInfo" id="adminInfo">
    <div class="orgParent">
        <h2>Administration</h2>
    </div>
    <div class="orgSlider">
        <div>
            <img src="{% static 'img/admin/20131111executive-trio.jpg' %}">
            <div class="orgMembers"
                <ul id="memList">
                    <li class="memName"><a href="#">Dr. Stephen Jones</a></li>
                    <li class="memName"><a href="#">Dr. Gary Weier</a></li>
                    <li class="memName"><a href="#">Mr. Marshall Franklin</a></li>
                </ul>
            </div>
        </div>

        <div>
            <img src="{% static 'img/admin/20131016presidents-cabinet.png' %}">
            <div class="orgMembers"
                <ul id="memList">
                    <li class="memName"><a href="#">Dr. Eric Newton</a></li>
                    <li class="memName"><a href="#">Mr. Kevin Taylor</a></li>
                    <li class="memName"><a href="#">Mr. Bill Apelian</a></li>
                    <li class="memName"><a href="#">Mr. Kennie Still</a></li>
                    <li class="memName"><a href="#">Mr. John Matthews</a></li>
                    <li class="memName"><a href="#">Mr. Marshall Franklin</a></li>
                    <li class="memName"><a href="#">Dr. Gary Weier</a></li>
                    <li class="memName"><a href="#">Dr. David Fisher</a></li>
                    <li class="memName"><a href="#">Ms. Carol Keirstead</a></li>
                    <li class="memName"><a href="#">Mr. Marvin Reem</a></li>
                </ul>
            </div>
        </div>

        <div>
            <img src="{% static 'img/admin/20131021bj3-4.jpg' %}">
            <div class="orgMembers"
                <ul id="memList">
                    <li class="memName"><a href="#">Dr. Bob Jones III</a></li>
                </ul>
            </div>
        </div>

        <div>
            <img src="{% static 'img/admin/20131008brian-carruthers3.jpg' %}">
            <div class="orgMembers"
                <ul id="memList">
                    <li class="memName"><a href="#">Dr. Brian Carruthers</a></li>
                </ul>
            </div>
        </div>

        <div>
            <img src="{% static 'img/admin/20131007neal-ring4.jpg' %}">
            <div class="orgMembers"
                <ul id="memList">
                    <li class="memName"><a href="#">Mr. Neal Ring</a></li>
                </ul>
            </div>
        </div>

        <div>
            <img src="{% static 'img/admin/20131007jon-daulton2.jpg' %}">
            <div class="orgMembers"
                <ul id="memList">
                    <li class="memName"><a href="#">Mr. Jon Daulton</a></li>
                </ul>
            </div>
        </div>

        <div>
            <img src="{% static 'img/admin/20131007jeff-heath1.jpg' %}">
            <div class="orgMembers"
                <ul id="memList">
                    <li class="memName"><a href="#">Dr. Jeff Heath</a></li>
                </ul>
            </div>
        </div>

        <div>
            <img src="{% static 'img/admin/20131007deneen-lawson1.jpg' %}">
            <div class="orgMembers"
                <ul id="memList">
                    <li class="memName"><a href="#">Miss Deneen Lawson</a></li>
                </ul>
            </div>
        </div>

        <div>
            <img src="{% static 'img/admin/20131007dan-smith2.jpg' %}">
            <div class="orgMembers"
                <ul id="memList">
                    <li class="memName"><a href="#">Dr. Dan Smith</a></li>
                </ul>
            </div>
        </div>

        <div>
            <img src="{% static 'img/admin/20131007bruce-mcallister3-2.jpg' %}">
            <div class="orgMembers"
                <ul id="memList">
                    <li class="memName"><a href="#">Dr. Bruce McAllister</a></li>
                </ul>
            </div>
        </div>

        <div>
            <img src="{% static 'img/admin/20131004steve-hankins4.jpg' %}">
            <div class="orgMembers"
                <ul id="memList">
                    <li class="memName"><a href="#">Dr. Steve Hankins</a></li>
                </ul>
            </div>
        </div>

        <div>
            <img src="{% static 'img/admin/20131004renae-wentworth1.jpg' %}">
            <div class="orgMembers"
                <ul id="memList">
                    <li class="memName"><a href="#">Dr. Renae Wentworth</a></li>
                </ul>
            </div>
        </div>

        <div>
            <img src="{% static 'img/admin/20131003royce-short3.jpg' %}">
            <div class="orgMembers"
                <ul id="memList">
                    <li class="memName"><a href="#">Dr. Royce Short</a></li>
                </ul>
            </div>
        </div>

        <div>
            <img src="{% static 'img/admin/20131003darren-lawson4.jpg' %}">
            <div class="orgMembers"
                <ul id="memList">
                    <li class="memName"><a href="#">Mr. Darren Lawson</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
