{% extends "picsearch/base.html" %} 
{% load staticfiles %}




{% block title %}
	<title>BJU Vintage 2014</title>


	<meta property="og:title" content="Year in Review | BJUVintage.com"/>
	<meta property="og:image" content="{% static 'img/design/facebook-og.jpg' %}"/>
	<meta property="og:site_name" content="BJUVintage.com"/>
	<meta property="og:description" content="Bob Jones University presents the 2014 Vintage."/>	
{% endblock %}

{% block body %}
	<body class="home">
{% endblock %}


{% block content %}


<div id="page1" >
	<div id="page1bg" class="vhfix"></div>
	<div class="title1"></div>
	<div class="title2"><a href="#page2" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0;"></a></div>
</div> <!-- Page 1 end -->

<div id="page2">
	<div class="theme">
	<p>
	<iframe class="video" src="//player.vimeo.com/video/93961294" width="500" height="271" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</p>
	<div class="themeText">
		<img class="title" src="{% static 'img/design/kotn.svg' %} ">
		<p>Lift up your voices in praise to the King. Shout His glories to all the earth. He chose us as heirs of His heavenly kingdom. In Him we live and move and have our being. Therefore, let all people exalt Him, for He is the King of the Nations. Let us all as one sing praise to the Lord. To the ends of the earth, glorify our God, the King of the Nations.</p>

	</div>

	</div>
	<div class="colorChange">
	<div class="dedicatee">
			<img class="dedicateeProfile" src="{% static 'img/timeline/dedicatee.jpg' %} ">
	<div class="dedicateeText">
	<img class="dedicateeName" src="{% static 'img/design/dedicatee_name.svg' %} ">
	<p>This year’s dedicatee has committed his life to advancing the kingdom of God. With a passion for spreading the Gospel, he leads others by example. As a husband and father, he exemplifies a biblical role model. As a teacher and mentor, he leads with the grace God has given.</p>
	<p> For his faithful and effective leadership over many years, the 2014 Vintage staff dedicates this book to Dr. Bruce McAllister. </p>

	
	<img class="ornament" src="{% static 'img/vector/ornament01.svg' %} ">

	</div>
        <br style="clear: both;">
	</div>
	</div>

</div> <!-- Page 2 end -->


<div id="page3"></div>

<div class="timeline">

<img class="title" src="{% static 'img/design/fall_semester_title.svg' %} ">

<div class="timelineSlider welcomeWeek">

	<div class="slide bg01"></div>
	<div class="slide bg02">
		<div class="caption topleft">
			<p>Students check in at the Davis Field House and then begin their journey.</p>
		</div>
	</div>
	<div class="slide bg03">
		<div class="caption bottomleft">
			<p>Old friends exchange warm welcomes, and family members depart with tearful goodbyes.</p>
		</div>
	</div>
	<div class="slide bg04">
		<div class="caption topright">
			<p>Students are left to unpack mountains of luggage in preparation for a new semester.</p>
		</div>
	</div>
	<div class="slide bg05">
		<div class="caption bottomright">
			<p>The evangelistic ceremonies commence as the Class of 2017 files into Founder's Memorial Amphitorium while upper classmen sing the University Hymn.</p>
		</div>
	</div>
	<div class="slide bg06">
		<div class="caption bottomright">
			<p>The two nights of services set the tone for the new semester.</p>
		</div>		
	</div>
	<div class="slide bg07">
		<div class="caption bottomright">
			<p>As students with diverse backgrounds become acquainted with the new school year, they are encouraged to find unity as one body of believers seeking to live for Christ.</p>
		</div>	
	</div>
</div>


<div class="box group1">

	


	<div class="mini-events left">
		
			<img class="mini-event-photo" alt="fundraiser" src="/static/img/design/mini-event/fundraiser.png">
		<div class="pinterest-title">
			<h3>
				<a href="http://www.pinterest.com/pin/316870523753045857/" target="_blank">Bob Jones University Joins Area Law Enforcement to Help Special Olympics</a>
			</h3>
			<p><i>August 13, 2013</i></p>
		</div>
		<p>
			 Joe Mulnix, Chief of the Department of Public Safety (DPS) at Bob Jones University, joined other law enforcement agencies Friday for “Cops on Top of Doughnut Shops” to raise money for Special Olympics.... 
		</p>
	</div>

	<div class="mini-events right">
		<div class="twitter-title">
			<h3>
				<a href="https://twitter.com/temillerjr" target="_blank">Ted Miller @temillerjr</a>
			</h3>
			<p><i>September 3, 2013</i></p>
		</div>
		<p>
			Goodbye, summer! 8am classes for the next 15-16 weeks. Really looking forward to the opportunities God gives through #BJUedu. Amazing Grace. 
		</p>
	</div>

	<div class="mini-events right ">
		<div class="collegian-title">
			<h3>
				<a href="http://www.collegianonline.com/2013/09/21/s-c-state-treasurer-attorney-general-visit-bju-campus/" target="_blank">S.C. State Treasurer, Attorney General visit BJU campus </a>
			</h3>
			<p><i>September 21, 2013</i></p>
		</div>
		<p> 
			The South Carolina state government had a real presence on the BJU campus on Thursday, Sept. 19, with State Treasurer Curtis Loftis and State Attorney General Alan G. Wilson both speaking to students throughout the day...
		</p>
		
	</div>	

	
	
	
	
</div>


	

<div class="timelineSlider firstSports">

	<div class="slide bg01"></div>
	<div class="slide bg02">
		<div class="caption topleft">
			<p>The road to the championship wasn't easy. But the women's soccer team proved that in only its second season, it had the strength and fortitude to capture the NCCAA Division II title.</p>
		</div>
	</div>
	<div class="slide bg03">
		<div class="caption bottomleft">
			<p>The women's cross country team strives to glorify Christ through athletics.</p>
		</div>
	</div>
	<div class="slide bg04">
		<div class="caption topright">
			<p>At every meet the men's cross country team sought to use their skills and talents for the ultimate goal - serving Christ.</p>
		</div>
	</div>
	<div class="slide bg05">
		<div class="caption bottomright">
			<p>The stadium lights shine bright, and spectators cheer from the stands. In a game determined by the slimmest of margins, every goal counts.</p>
		</div>
	</div>
</div>


<div class="box group2">
<!-- 	<div class="vertical">
	</div> -->
	
	<div class="mini-events right">
		<div class="collegian-title">
			<h3>
				<a href="http://www.collegianonline.com/2013/09/27/washington-center-day-brings-positive-experiences-for-bju-students/" target="_blank">Washington Center Day brings positive experiences for BJU students</a>
			</h3>
			<p><i>September 27, 2013</i></p>
		</div>
		<p> 
			Tricia Koechig is one of many students who loves to participate in Washington Center Challenge Day. “It’s one of my favorite days of the year,” said the junior elementary education major...
		</p>
	</div>


	<div class="mini-events left one">
		<img class="mini-event-photo" alt="BJU Campus" src="/static/img/design/mini-event/pretty-campus.jpg">
		<div class="instagram-title">
			<h3>
				<a href="http://instagram.com/bjuedu" target="_blank">Prettiest spot on campus #BJUphotoaday</a>
			</h3>
			<p><i>September 24, 2013</i></p>
		</div>
		<p> 
			This morning's #sunrise from a bird's-eye view of front campus. Photo by Dan Calnon #bjuedu #bobjonesuniversity
		</p>
	</div>

	<div class="mini-events right">
		<img class="mini-event-photo" alt="Bruins Soccer" src="/static/img/design/mini-event/GametSubmittedBruinsSoccer2-618x463.jpg">
		<div class="collegian-title">
			
			<h3>
				<a href="http://www.collegianonline.com/2013/11/22/no-longer-rookies-the-bruins-womens-soccer-team-defeats-providence-clearwater-to-become-nccaa-dii-national-champions/" target="_blank">
				No longer rookies: the Bruins women’s soccer team defeats Providence, Clearwater to become NCCAA DII National Champions 
				</a>
			</h3>
			<p><i>November 22, 2013</i></p>
		</div>
		<p>
			The Bruins women’s soccer team completed its historic second season last weekend at the NCCAA DII tournament in Kissimmee, Fla., defeating Clearwater Christian College 1-0 to claim the NCCAA DII national title...
		</p>
	</div>

</div>





<div class="timelineSlider diningCommon">

	<div class="slide bg01"></div>
	<div class="slide bg02">
		<div class="caption topleft">
			<p>The newly renovated Dixon McKenzie Dining Common offers a welcoming environment for students, faculty, and friends to enjoy.</p>
		</div>
	</div>
	<div class="slide bg03">
		<div class="caption bottomleft">
			<p>The Dining Common is an ideal environment for students to be challenged and discipled while fellowshipping with those they meet.</p>
		</div>
	</div>
	<div class="slide bg04">
		<div class="caption topright">
			<p>A new layout and food options provide students with plenty of opportunities to explore.</p>
		</div>
	</div>
	
</div>


<div class="box group3">
<!-- 	<div class="vertical">
	</div> -->
	

	<div class="article mini-events left">
			<div class="twitter-title">
			<h3>
				<a href="https://twitter.com/garyweier/" target="_blank">
					Gary Weier @garyweier
				</a>
			</h3>
			<p>
				<i>
					September 27, 2013
				</i>
			</p>
			</div>
			<p>
				It's right here, right now. #ministry #119 #BJUedu
			</p>
		</div>

	<div class="article mini-events right">
			<img class="mini-event-photo" alt="Icecream Social" src="/static/img/design/mini-event/icecream-social.jpg">
			<div class="facebook-title">
			<h3>
				<a href="https://www.facebook.com/photo.php?fbid=10151834312556236&set=pb.325614121235.-2207520000.1398140060.&type=3&theater" target="_blank">
					Icecream Social
				</a>
			</h3>
			<p>
				<i>
					October 3, 2013
				</i>
			</p>
			</div>
			<p>
				Students attend the Ice Cream Social at the Gazebo.
			</p>
		</div>
	


	<div class="mini-events left">
		<div class="collegian-title">
		<h3>
			<a href="http://www.collegianonline.com/2013/10/11/vespers-testimonies-to-show-gods-grace-despite-difficult-trials/" target="_blank">Vespers testimonies to show God’s grace despite difficult trials</a>
		</h3>
		<p><i>October 11, 2013</i></p>
	</div>
		<p> 
			Testimonies of trial and surrender will be the theme of this semester’s second Vespers program titled “Lord, Here am I,” which will be presented on Oct. 17 at 7 and 8:30 p.m. in Rodeheaver Auditorium...
		</p>
	</div>


	<div class="article mini-events left">
			<img class="mini-event-photo" alt="Fandemonium" src="/static/img/design/mini-event/camden5jones.jpg">
			<div class="instagram-title">
			<h3>
				<a href="http://instagram.com/camden5jones" target="_blank">Camden5Jones</a>
			</h3>
			<p><i>October 22, 2013</i></p>
			
		</div>
			<p> 
				Pretty pumped to see this place filled up tonight for #Fandemonium! #WeAreBruins
			</p>
		</div>

	
	<div class="article mini-events right ">
			<div class="collegian-title">
			<h3>
				<a href="http://www.collegianonline.com/2013/10/18/missions-emphasis-week-to-bring-special-focus-during-annual-conference/" target="_blank">Missions Emphasis Week to bring special focus during annual conference</a>
			</h3>
			<p><i>October 18, 2013</i></p>
			</div>
			<p> 
				BJU’s annual Missions Emphasis Week will be held on campus next week, Oct. 21 through Oct. 24...
			</p>
		
		</div>

	



	
		
</div>


<div class="timelineSlider artistSeries">

	<div class="slide bg01"></div>
	<div class="slide bg02">
		<div class="caption topleft">
			<p>Throughout the course of the year, students attend a variety of concerts, operas and dramas. The University strives to present these quality performances for the students to learn from and enjoy.</p>
		</div>
	</div>
	<div class="slide bg03">
		<div class="caption bottomleft">
			<p>Students were mesmerized by the beautiful depiction of Edmond Ronstadt's Cyrano de Bergerac.</p>
		</div>
	</div>
	<div class="slide bg04">
		<div class="caption topright">
			<p>The various performances this school year provide a well-rounded and unique set of programs for students to enjoy.</p>
		</div>
	</div>
	<div class="slide bg05">
		<div class="caption topright">
			<p>Audiences were transported through time and space to the land of ancient Egypt as the University performed the heart-rending opera Aida.</p>
		</div>
	</div>
	<div class="slide bg06">
		<div class="caption topright">
			<p>Living Gallery continues to be one of the most far-reaching ministries at Bob Jones University. For months, artists, actors, musicians and stage workers prepare for the spring program. Living Gallery uses live models to portray renowned religious art pieces.</p>
		</div>
	</div>



</div>

<!-- <div class="vertical">
	</div> -->



<div class="box group4">
<div class="mini-events right">
		<div class="collegian-title">
		<h3>
			<a href="http://www.collegianonline.com/2013/11/15/bju-accomplishes-blood-drive-goal-wins-three-way-competition/" target="_blank">BJU accomplishes blood drive goal, wins three-way competition</a>
		</h3>
		<p><i>November 15, 2013</i></p>
	</div>
		<p> 
			Bob Jones University, North Greenville University and Furman University each held blood drives in October in an effort to serve the Greenville community and to engage in friendly competition. BJU surpassed its donation goals and earned the highest percentage of student body participation...
		</p>
	</div>

	<div class="article mini-events left ">
		<div class="collegian-title">
		<h3>
			<a href="http://www.collegianonline.com/2013/10/25/chorale-and-collegiate-choir-to-present-fall-concerts/" target="_blank">
				Chorale and Collegiate choir to present fall concerts
			</a>
		</h3>
		<p>
			<i>
				October 25, 2013
			</i>
		</p></div>
		<p>
			Two of BJU’s concert choirs will sing about the Christian’s daily walk and long-term perspective on heaven in fall concerts this week...
		</p>
	</div>
<!--
	<div class="mini-events left">
		<div class="bobjones-title">
			<h3>
				<a href="http://www.bju.edu/media/video.php?vid=91" target="_blank">Dr. Stephen Jones' Resignation Address to Students, Faculty and Staff</a>
			</h3>
			<p><i>December 13, 2013</i></p>
			<p>
		</div>
		<iframe id="stephenJonesResignation" class="mini-video" src="http://video.bju.net/players/Icg5ht0k-GAoPHHX6.html" width="100%" height="185" frameborder="0" allowfullscreen></iframe>
		</p>
	</div>
-->

	<div class="mini-events left">
		<div class="youtube-title">
		<h3>
			<a href="http://www.youtube.com/watch?v=SidKPQUAWvs" target="_blank">BJU President announces resignation</a>
		</h3>
		<p><i>December 13, 2013</i></p>
		<p>
		</div>
		<iframe class="mini-video" width="100%" height="200" src="//www.youtube.com/embed/SidKPQUAWvs" frameborder="0" allowfullscreen></iframe>
		</p>
	</div>

</div>

<div class="timelineSlider christmas">

	<div class="slide bg01"></div>
	<div class="slide bg02">
		<div class="caption bottomleft">
			<p>The campus comes alive with thousands of twinkling lights at the annual Lighting Ceremony. </p>
		</div>
	</div>
	<div class="slide bg03">
		<div class="caption bottomleft">
			<p>The Lighting Ceremony heralds the coming of the semester’s close.</p>
		</div>
	</div>
	<div class="slide bg04">
		<div class="caption topright">
			<p>Christmastime focuses on the story of Christ, written by God for the purpose of declaring His love to the nations.</p>
		</div>
	</div>

</div>



<div class="vertical">
	</div>


<img class="title" src="{% static 'img/design/spring_semester_title.svg' %} ">

<div class="timelineSlider secondSports">

	<div class="slide bg01"></div>
	<div class="slide bg02">
		<div class="caption topleft">
			<p>The men's basketball team seeks to "live Christ" both on and off the court.</p>
		</div>
	</div>
	<div class="slide bg03">
		<div class="caption bottomleft">
			<p>The Bruins' athletic program was enhanced with the addition of the lady's golf team.</p>
		</div>
	</div>
	<div class="slide bg04">
		<div class="caption bottomleft">
			<p>The men's intercollegiate golf team introduces a new way for student athletes to challenge their potential on the course. </p>
		</div>
	</div>
	<div class="slide bg05">
		<div class="caption topright">
			<p>Every night the lady Bruins fought with talent, focus and determination each minute they were on the court.</p>
		</div>
	</div>
	<div class="slide bg06">
		<div class="caption topright">
			<p>In a game where every second counts, Bruins much stretch themselves to rise up and become champions.</p>
		</div>
	</div>	
</div>


<div class="box group5">
	
	<div class="mini-events left">
		<div class="youtube-title">
			<h3>
				<a href="http://debatelive.org/" target="_blank">Bill Nye vs. Ken Ham Debate</a>
			</h3>
			<p><i>February 4, 2013</i></p>
		</div>
		<p>
		<iframe class="mini-video" width="100%" height="200" src="http://www.youtube.com/embed/xZ9MJePRkS8" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</p>
	</div>
	
	<div class="mini-events right">
		<div class="twitter-title">
		<h3>
			<a href="https://twitter.com/alyarellano/" target="_blank">Aly Arellano @alyarellano</a>
		</h3>
		<p><i>February 21, 2013</i></p>
	</div>
		<p> 
		Yes, we took the Dormie Acads to the rooftop for some fun. #snowpocalpse2 #somuchwinning @ Mary Gaston 
		</p>
	</div>

	<div class="mini-events right">
		<div class="collegian-title">
		<h3>
			<a href="http://www.collegianonline.com/2014/02/28/chinese-competition-expands-horizons-of-culture-language/" target="_blank">Chinese competition expands horizons of culture, language</a>
		</h3>
		<p><i>February 28, 2013</i></p>
	</div>
		<p> 
			Anyone who is fluent in a second language will tell you that the key to mastering a language is not classroom instruction, a large vocabulary or correct grammar. The most effective way to internalize and perfect a second language is by...
		</p>
	</div>


	




</div>


<div class="timelineSlider goldRushDaze">

	<div class="slide bg01"></div>
	<div class="slide bg02">
		<div class="caption topleft">
			<p>Once every four years the university family comes together to compete in Gold Rush Daze.</p>
		</div>
	</div>
	<div class="slide bg03">
		<div class="caption bottomleft">
			<p>A battle consumes the campus, a collision of Red Lightning and Green Thunder.</p>
		</div>
	</div>
	<div class="slide bg04">
		<div class="caption topright">
			<p> The result is one winner—Red Lightning, champion of Gold Rush Daze.</p>
		</div>
	</div>
	
</div>



<div class="box group6">

	<div class="mini-events right">
		<div class="youtube-title">
			<h3>
				<a href="http://www.youtube.com/watch?v=qkWlCy4YVZ4" target="_blank">Aida - Act II Scene 1</a>
			</h3>
			<p><i>March 18, 2013</i></p>
		</div>
		<p>
		<iframe width="100%" height="200" class="mini-video" src="//www.youtube.com/embed/qkWlCy4YVZ4" frameborder="0" allowfullscreen></iframe>
		</p>
	</div>

	<div class="mini-events left ">
		<img class="mini-event-photo" alt="Gila Monster Photo" src="{% static 'img/design/mini-event/20130228reptile-study27-618x412.jpg' %} ">
		<div class="collegian-title">
		<h3>
			<a href="http://www.collegianonline.com/2014/03/14/venom-for-a-cure-gila-monster-venom-targets-cancer-cells/" target="_blank">Venom for a cure: Gila monster venom targets cancer cells</a>
		</h3>
		<p><i>March 14, 2014</i></p></div>
		<p> 
			The venom from Gila monsters can kill humans, yet it can also stop the growth of certain types of cancer. Which ones? Dr. Steve Figard and his independent study class intend to find out by making use of the eight Gila monsters in Dr. Chris Carmichael’s serpentarium.
		</p>
	</div>


	<div class="article mini-events right">
		<div class="soundcloud-title">
			<h3>
				<a href="https://www.bju.edu/recordings/complete-in-thee.php?utm_source=shorturl&utm_medium=link&utm_campaign=CompleteinThee" target="_blank">
					3,000 voices blend together to create Complete in Thee. 
				</a>
			</h3>
			<p><i>
				March 26, 2014
			</i></p>
		</div>
		<p> 
			<iframe width="100%" height="166" scrolling="no" frameborder="no" class="mini-video" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/138951966&color=ff5500"></iframe>
		</p>
	</div>

	<div class="article mini-events left">
		<div class="twitter-title">
		<h3>
			<a href="https://twitter.com/SopIndraThomas" target="_blank">
				Indra A. Thomas @sopindrathomas
			</a>
		</h3>
		<p>
			<i>
				March 18, 2014
			</i>
		</p></div>
		<p>
			Having a blast @ BJU singing Aida. Yay! The production is 1st class! Peace & Love!
		</p>
	</div>
	
</div>

<div class="timelineSlider bibleConference">

	<div class="slide bg01"></div>
	<div class="slide bg02">
		<div class="caption topleft">
			<p>The University community sets aside a week during second semester for spiritual and physical refreshment.</p>
		</div>
	</div>
	<div class="slide bg03">
		<div class="caption bottomleft">
			<p>Students are privileged to sit under the preaching of godly men for a week at Bible Conference.</p>
		</div>
	</div>
	<div class="slide bg04">
		<div class="caption topright">
			<p>Picnic lunches scattered around campus help create an enjoyable atmosphere during Bible Conference week. </p>
		</div>
	</div>

</div>




<div class="box group7">
	
	

	<div class="article mini-events left">
		<img class="mini-event-photo" alt="Brady Hollenbeck Senior Show" src="/static/img/design/mini-event/20140315seniorshowgd-maw-03-618x410.jpg">
		<div class="collegian-title">
			<h3>
				<a href="http://www.collegianonline.com/2014/03/21/showcasing-variety-senior-show-to-display-10-designers-creativity/" target="_blank">
					Showcasing variety: senior show to display 10 designers’ creativity
				</a>
			</h3>
			<p><i>
				March 24, 2014
			</i></p>
		</div>
		<p> 
			Do you have an iPhone? According to Mr. Jay Bopp, chairman of BJU’s Division of art, every image your index finger zooms in on and slides across the screen was built by graphic designers...
		</p>
	</div>

	<div class="mini-events right">
		
		<div class="collegian-title">
		<h3>
			<a href="http://www.collegianonline.com/2014/04/11/slc-to-turn-off-lights-host-first-ever-glolympics-glow-in-the-dark-5k-run/" target="_blank">SLC to turn off lights, host first-ever Glolympics, glow-in-the-dark 5K run</a>
		</h3>
		<p><i>April 11, 2014</i></p></div>
		<p> 
			On April 11, at 8:30 p.m., the lights will go out in the Davis Field House. Strings of Christmas lights will be turned on. Glow sticks will be passed around. And students will file in to cheer on the seven nations competing in the first-ever BJU Glolympics...
		</p>
	</div>

	<div class="mini-events right">
		<img class="mini-event-photo" alt="Living Gallery" src="/static/img/design/mini-event/bju01.jpg">
		<div class="greenville-title">
		<h3>
			<a href="http://www.greenvilleonline.com/story/entertainment/arts/2014/04/13/bju-readies-living-gallery-three-days-performances/7591687/" target="_blank">BJU readies Living Gallery for three days of performances</a>
		</h3>
		<p><i>April 13, 2014</i></p>
		</div>
		<p> 
			Bob Jones University is presenting its 17th annual Living Gallery, an Upstate Easter tradition, April 17-19. The program features 70 student actors who pose in tableau style to re-create masterpieces of Biblical-themed art, plus a drama and music...
		</p>
	</div>
	

	<div class="article mini-events left ">

		<div class="twitter-title">
		<h3>
			<a href="https://twitter.com/BJU_PR/" target="_blank">
				BJU PR @bju_pr
			</a>
		</h3>
		<p>
			<i>
				April 16, 2014
			</i>
		</p></div>
		<p>
			Join @SenatorTimScott on 4/22 at @BJUedu & hear how a godly mentor changed his life: <a href="http://t.co/AUD7Q6ublQ" target="_blank">http://t.co/AUD7Q6ublQ</a> 6 Days Until #TimScottatBJU
		</p>
	</div>

	



	
</div>

<div class="timelineSlider commencement">

	<div class="slide bg01"></div>
	<div class="slide bg02">
		<div class="caption topleft">
			<p>After years of hard work, rigorous studies and unforgettable memories, the day that every college student anticipates finally arrives.</p>
		</div>
	</div>
	<div class="slide bg03"> 
		<div class="caption bottomleft">
			<p>Seniors prepare to enter FMA to receive their diplomas.</p>
		</div>
	</div>
	<div class="slide bg04">
		<div class="caption topright">
			<p>Students celebrate four years of hard-work and determination.</p>
		</div>
	</div>

</div>


<div class="yearEnd">
	</div>


</div>

<div id="page-social">
	<div id="social-links">

			<a href="javascript:window.open('http%3A%2F%2Fwww.facebook.com%2Fshare.php%3Fu%3Dhttp%3A%2F%2Fbjuvintage.com%2Fshare%3Fwatch%3Dfd5f0c2', '_blank', 'width=400,height=500');void(0);">Share on Facebook</a>
			<a target="_blank" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fbjuvintage.com%2F2014%2F">Share on Twitter</a>

	</div>
</div>



{% endblock %}





{% block footer %}

<div id="footer">
	<div id="footer-wrapper">
		<div id="footer-credits">
			<a href="#" class="button" data-reveal-id="creditsModal">Credits</a>
			<a href="#page1" class="button">Back to Top</a>
		</div>
		<div id="footer-social">
		</div>
	</div>
</div>

<div id="creditsModal" class="reveal-modal">
     <img src="http://jayartist.com/vintageonline/wp-content/themes/twentyfourteen-child/img/design/credits.png" alt="The 2014 Vintage Staff extends their appreciation to">


     	<div class="modal-column">
		<ul>
			<li><h2>Vintage Committee</h2></li>
			<hr />
			<li><i>Division of Art & Design:</i></li>
			<li>Mr. Jay Bopp</li>
			<li>Mr. Jared Stanley</li>
			<hr />

			<li><i>Department of English:</i></li>
			<li>Dr. Janie McCauley</li>
			<hr />

			<li><i>Administration:</i></li>
			<li>Mr. Jon Daulton</li>
			<li>Ms. Carol Keirstead</li>
			<li>Ms. Deneen Lawson</li>
			<li>Dr. Eric Newton</li>
			<li>Dr. Dan Smith</li>
		</ul>
	</div>


	<div class="modal-column">
		<ul>
			<li><h2>Vintage Staff</h2></li>
			<hr />

			<li><i>Editor:</i></li>
			<li>Timothy Buck</li>	
			<hr />		
			<li><i>Assistant Editor:</i></li>
			<li>Kristie Skaggs</li>
			<hr />
			<li><i>Web Design Editor:</i></li>
			<li>Jay Harris</li>
			<hr />
			<li><i>Designers & Developers:</i></li>	
			<li>Aeryk Payne</li>
			<li>Ricky Altizer</li>
			<li>Robert Gonzales</li><hr />
			<hr />
			<li><i>Technical Editor:</i></li>
			<li>Owen Coss</li>
			<hr />
			<li><i>Web Content:</i></li>
			<li>Rebecca Jones</li>
			<li>Liz Folger</li>
		</ul>
	</div>
     <a class="close-reveal-modal">&#215;</a>
</div>


{% endblock %}
